<section data-ng-controller="HomeController">
	<div class="jumbotron text-center homepage">
		<div class="row">
			<p class="lead">
			journeh.com
			</p>
		</div>
	</div>
	<div>
		<h2>Get your stories noticed</h2>
		<p>You know your adventures are there on instagram. But hard to get people to follow them easily, other than in separate pieces. </p>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				<strong>F</strong>ast
			</h2>
			<p>Journeh makes it easy to scrap down a travel journal you always postponed doing.</p>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>S</strong>imple
			</h2>
			<p>Pick, add and check wording, publish, distribute. Actually, wording is optional.</p>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>P</strong>ro
			</h2>
			<p>People forgot what travel stories were all about. They're about <strong>content</strong>. And being there.</p>
		</div>
	</div>
</section>
