<section data-ng-controller="HomeController">
	<div class="jumbotron text-center homepage">
		<div class="row">
			<video autoplay poster="/modules/core/img/poster_retouched.jpg" loop="loop">
				<source src="/modules/core/img/waves_cropped.ogv" type="video/ogv" />
				<source src="/modules/core/img/waves_cropped.webm" type="video/webm" />
				<source src="/modules/core/img/waves_cropped.mp4" type="video/mp4" />
			</video>
			<span class="sitename">journeh.com</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Get your stories noticed</h2>
			<p>You know your adventures are there on instagram. But hard to get people to follow them easily, other than in separate pieces. </p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				<strong>F</strong>ast
			</h2>
			<p>Journeh makes it easy to scrap down a travel journal you always postponed doing.</p>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>S</strong>imple
			</h2>
			<p>Pick, add and check wording, publish, distribute. Actually, wording is optional.</p>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>P</strong>ro
			</h2>
			<p>People forgot what travel stories were all about. They're about <strong>content</strong>. And being there.</p>
		</div>
	</div>
</section>
