<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-md-8 col-md-offset-2">
		<h3>Join in</h3>
		<div class="row">
			<div class="col-md-4">
				<br />
				<br />
				<a target="_self" href="/auth/instagram" class="btn btn-primary">
					Sign in with instagram
				</a>
			</div>
			<div class="well col-md-8">
				<p>Journeh needs to be granted application access to your instagram account.
				<br />
				We will only pull user profile and content that belongs to you, on your request.
				</p>
				<p class="text-muted">
					You can anytime revoke the access to this application and delete your data.
				</p>
			</div>
		</div>
	</div>
</section>
