<section data-ng-controller="StoriesController" data-ng-init="initCreate()">
	<div class="page-header">
		<h1>New Story</h1>
	</div>
	<div class="col-md-12">
		<form name="storyForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': storyForm.title.$dirty && storyForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group" ng-show="step==1">
					<label class="control-label">Pick the pieces</label>
					<bgf-pagination
						collection="grams"
						template-url="/modules/core/views/parts/paginate-anything.html"
						url="'/grams'">
					</bgf-pagination>
					<div style="padding: 10px; float: left;" ng-repeat="gram in grams track by gram._id">
						<pickable-gram gram="gram" clickhandler="toggleGram"></pickable-gram>
					</div>
				</div>
				<div class="form-group" ng-show="step==1">
					<label class="control-label">Selected</label>
					<div ng-repeat="gram in selectedGrams track by gram._id">
						<editable-gram gram="gram" full-collection="selectedGrams"></editable-gram>
					</div>
				</div>
				<div class="form-group" ng-show="step==1">
					<span ng-click="compileContent(); goTo(2)">final step</span>
				</div>
				<div class="form-group" ng-show="step==2">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<p name="content" data-medium-editor data-ng-model="content"
						   class="lead"
						options="{'buttons': ['bold', 'italic', 'underline', 'anchor', 'header1', 'header2', 'quote', 'image']}"
										   id="content"></p>
					</div>
				</div>
				<div class="form-group" ng-show="step==2">
					<input type="submit" class="btn btn-default">
					<span ng-click="goTo(1)">previous step</span>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
