<section data-ng-controller="StoriesController as vm" data-ng-init="initCreate()">
	<div class="page-header">
		<h1>New Story</h1>
	</div>
	<div class="col-md-12">
		<form name="storyForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': storyForm.title.$dirty && storyForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="vm.story.title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group" ng-show="vm.step==1">
					<label class="control-label">Pick the pieces</label>
					<bgf-pagination
						collection="grams"
						template-url="/modules/core/views/parts/paginate-anything.html"
						url="'/api/grams'">
					</bgf-pagination>
					<div style="padding: 10px; float: left;" ng-repeat="gram in grams track by gram._id">
						<pickable-gram gram="gram" clickhandler="vm.toggleGram"></pickable-gram>
					</div>
					<bgf-pagination
						collection="grams"
						passive="true"
						template-url="/modules/core/views/parts/paginate-anything.html"
						url="'/api/grams'">
					</bgf-pagination>
				</div>
				<div class="form-group" ng-show="vm.step==1">
					<label class="control-label">Selected</label>
					<div ng-repeat="gram in vm.story.grams track by gram._id">
						<editable-gram $last="$last" $first="$first" $middle="$middle" gram="gram" full-collection="vm.story.grams"></editable-gram>
					</div>
				</div>
				<div class="form-group" ng-show="vm.step==1">
					<span ng-click="vm.goToStep2()">final step</span>
				</div>
				<div class="form-group" ng-show="vm.step==2">
					<label class="control-label" for="content">Content</label>
					<div class="controls" ng-repeat="contentBit in vm.story.content">
						<img ng-show="contentBit.images && !contentBit.videos" ng-src="{{contentBit.images.standard_resolution.url}}" />
						<video ng-show="contentBit.videos" width="640" height="640" controls>
							<source ng-src="{{contentBit.videos.standard_resolution.url}}" type="video/mp4">
						</video>

						<p name="content" data-medium-editor data-ng-model="contentBit.caption"
						   class="lead"
						options="{'buttons': ['bold', 'italic', 'underline', 'anchor', 'header1', 'header2', 'quote', 'image']}"
										   id="content"></p>
					</div>
				</div>
				<div class="form-group" ng-show="vm.step==2">
					<input type="submit" class="btn btn-default">
					<span ng-click="vm.step = 1">previous step</span>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
